﻿@model KeyValuePair<string, List<IUserFilteringCategory>>

<p>@Model.Key</p>
<div id="@Model.Key + SelectOptionsDiv">
    @foreach (var selectOption in Model.Value)
    {
        var categoryName = $"{Model.Key}SelectOptions";

        <div>
            <input type="checkbox" value="@selectOption.Id" name="@categoryName" id="@selectOption.Name+something" />
            <label for="@selectOption.Id">@selectOption.Name</label>
        </div>
    }
</div>