﻿@model DashboardViewModel
@inject UserManager<User> userManager;
@{
    var user = await this.userManager.GetUserAsync(this.User);
}

@if (TempData["isRegistered"] != null)
{
    <span class="text-success">@TempData["isRegistered"]</span>
}

<p><span style="font-weight:bold">Rank</span>: @Model.CurrentRank</p>
<p><span style="font-weight:bold">Ranking points:</span> @Model.RankingsPoints</p>

@if (Model.PointsTillNextRank == null)
{
    <p>Congratulations! Maximum rank reached!</p>
}
else
{
    <p><span style="font-weight:bold">Points until next rank</span>: @Model.PointsTillNextRank</p>
}

<h2>ACTIVE CONTESTS</h2>
<div class="container">
    <div class="row">
        @foreach (var contestCardVM in Model.ActiveContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
        }
    </div>
</div>

<hr>

<h2>MY ON GOING CONTESTS</h2>
@if (user.RankId == RankConsts.WISE_AND_BENEVOLENT_PHOTO_DICTATOR || user.RankId == RankConsts.MASTER)
{
    <h4>As Participant</h4>
}
<div class="container">
    @if (Model.OnGoingContests.Any())
    {
        <div class="row">
            @foreach (var contestCardVM in Model.OnGoingContests)
            {
                @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
            }
        </div>
    }
    else
    { 
        <h6>No contests.</h6>
    }
</div>

@if (user.RankId == RankConsts.WISE_AND_BENEVOLENT_PHOTO_DICTATOR || user.RankId == RankConsts.MASTER)
{
    <h4>As Juror</h4>

    <div class="container">
        @if (Model.OnGoingContestsAsJuror.Any())
        {
            <div class="row">
                @foreach (var contestCardVM in Model.OnGoingContestsAsJuror)
                {
                    @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
                }
            </div>
        }
        else
        {
            <h6>No contests.</h6>
        }
    </div>
}

<hr>

<h2>MY FINISHED CONTESTS</h2>
@if (user.RankId == RankConsts.WISE_AND_BENEVOLENT_PHOTO_DICTATOR || user.RankId == RankConsts.MASTER)
{
    <h3>As Participant</h3>
}
<div class="container">
    @if (Model.FinishedContests.Any())
    {
        <div class="row">
            @foreach (var contestCardVM in Model.FinishedContests)
            {
                @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
            }
        </div>
    }
    else
    {
        <h6>No contests.</h6>
    }
</div>

@if (user.RankId == RankConsts.WISE_AND_BENEVOLENT_PHOTO_DICTATOR || user.RankId == RankConsts.MASTER)
{
    <h3>As juror</h3>

    <div class="container">
        @if (Model.FinishedContestsAsJuror.Any())
        {
            <div class="row">
                @foreach (var contestCardVM in Model.FinishedContestsAsJuror)
                {
                    @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
                }
            </div>
        }
        else
        {
            <h6>No contests.</h6>
        }
    </div>
}