﻿
@model IEnumerable<UserViewModel>
@{
    var userFilteringCriterias = ViewData["userFilteringCriterias"] as UserFilteringCriterias;
}


<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {
            @await Html.PartialAsync("_UserDetailsCardPartial", model: user);
        }
    </div>
</div>
<p></p>
<a class="btn btn-primary" asp-action="GetFiltered" asp-controller="Users" asp-area="PBW" asp-route-userFiltering="@ViewData["userFilteringCriterias"]">Silly</a>
