﻿@model UserLoginViewModel
@{ 
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

<form method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password">
    </div>
    <div class="form-check">
        <input asp-for="isKeptSignedIn" type="checkbox" class="form-check-input">
        <label asp-for="isKeptSignedIn"></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>

    <a asp-area="PBW" asp-action="Register" asp-controller="Users" asp-route-returnUrl="@returnUrl" class="text-dark">Don't have account yet? Register to join!</a>
</form>
