﻿@model CreateContestViewModel

<form enctype="multipart/form-data" method="post" asp-area="PBW" asp-action="Create">
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" class="form-control" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div>
        <select class="form-select" name="category" asp-items="@Model.Categories">
            <option>Please select category</option>
        </select>
    </div>
    <div>
        <select class="form-select" name="type" id="contestTypes" asp-items="@Model.Types">
            <option>Please select type</option>
        </select>
        <div id="inviteUsersForm" style="display:none">
            <p>Users to invite</p>
            @foreach (var userToInvite in Model.UsersToInvite)
            {
                <label asp-for="@userToInvite">@userToInvite.UserName</label>
                <input type="checkbox" value="@userToInvite.Id" id="@userToInvite.Id+userToInvite" name="usersToInvite" />
            }
        </div>
        <input style="display:none" type="button" id="changeInviteBtn" value="Change users to invite">
    </div>
    <div class="form-group">
        <label asp-for="@Model.PhaseOneStartingDate">Phase I starting date</label>
        <input asp-for="@Model.PhaseOneStartingDate" class="form-control" />
        <span asp-validation-for="@Model.PhaseOneStartingDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PhaseOneFinishingDate">Phase I ending date</label>
        <input asp-for="@Model.PhaseOneFinishingDate" class="form-control" />
        <span asp-validation-for="@Model.PhaseOneFinishingDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PhaseTwoStartingDate">Phase II starting date</label>
        <input asp-for="@Model.PhaseTwoStartingDate" class="form-control" />
        <span asp-validation-for="@Model.PhaseTwoStartingDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PhaseTwoFinishingDate">Phase II ending date</label>
        <input asp-for="@Model.PhaseTwoFinishingDate" class="form-control" />
        <span asp-validation-for="@Model.PhaseTwoStartingDate" class="text-danger"></span>
    </div>
    <div id="juryToInviteForm">
        <p>Jury to invite</p>
        @if (!Model.Jury.Any())
        {
            <p>No eligible users to invite.</p>
        }
        else
        {
            @foreach (var userForJury in Model.Jury)
            {
                <label asp-for="@userForJury">@userForJury.UserName</label>
                <input type="checkbox" value="@userForJury.Id" id="@userForJury.Id+userForJury" name="usersForJury" />
            }
        }
    </div>

    <span class="text-secondary"><strong>NOTE: </strong>Uploading cover photo is optional</span>
    <p>Choose uploading method:</p>
    <div>
        <button type="button" id="newPhoto">New photo</button>
        <button type="button" id="photoUrl">Photo URL</button>
        <button type="button" id="existingPhoto">Existing photo</button>
    </div>
    <div id="uploadingPhotoDiv" style="display:none">
        <label asp-for="UploadedCoverPhoto">Upload new photo:</label>
        <input id="uploadNewPhotoInput" class="form-control-file" asp-for="UploadedCoverPhoto" />
    </div>

    <div id="photoUrlInputDiv" style="display:none">
        <label asp-for="PhotoUrl">Place the photo URL:</label>
        <input class="form-control" asp-for="PhotoUrl" id="photoUrlInput" placeholder="Paste the URL of an existing photo" />
    </div>

    <div id="previouslyUploadedPhotosDiv" style="display:none">
        <label asp-for="ExistingCoverPhoto">Choose from previously uploaded photos:</label>
        <input id="uploadExistingPhotoInput" class="form-control-file" asp-for="ExistingCoverPhoto" />
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <input type="submit" asp-area="PBW" asp-action="Create" asp-controller="Contests" value="Submit" />
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/allUsers.js"></script>
    <script src="~/js/contestUploadingPhoto.js"></script>
}