﻿@model ContestPhasePrestartViewModel
@inject UserManager<User> userManager;
@{
    var user = await this.userManager.GetUserAsync(this.User);
    var jurorLink = Model.JurorLinks.FirstOrDefault(j => j.UserId == user.Id);
    var inviteeLink = Model.InviteesLinks.FirstOrDefault(p => p.UserId == user.Id);
}

@await Html.PartialAsync("GeneralPhaseDetailsPartial", model: Model); 
<p>Remaining time until end of the phase: <span id="remainingTimeCurrPhase">@Model.CurrentPhaseDiffMillisec</span></p>
<p>Remaining time until Phase I: <span id="remainingTimeNextPhase">@Model.CurrentNextPhaseDiffInMillsec</span></p>

@if (this.User.IsInRole(UserRoleConsts.ORGANISER))
{
    <span class="text-warning">The contest will start soon! After the first participants upload photo you will be able to view it and decide 
    how to rate it in Phase II! Good luck!</span>
}
else
{
    @if (jurorLink != null)
    {
        if (jurorLink.IsAccepted)
        {
            <p>Hi juror! The contest will start soon! You can check the uploaded photos of the participants in Phase II. Good luck!</p>
        }
        else
        {
            <p>Congratulations! You've been invited as jury for this contest!</p>
            <form method="post">
                <button type="submit" class="btn-success" asp-area="PBW" asp-action="AcceptContestInvitation" asp-controller="Users"
                        asp-route-ContestId="@Model.ContestId" asp-route-UserId="@jurorLink.UserId">
                    Accept!
                </button>
                <p class="text-secondary"><strong>NOTE:</strong> You must accept the invitation to participate in the contest.</p>
            </form>
        }
    }
    else if (inviteeLink != null)
    {
        @if (inviteeLink.IsAccepted.HasValue && inviteeLink.IsAccepted.Value)
        {
            <p>Hi invitee! The contest will start soon! We are waiting for your photo!</p>
        }
        else
        {
            <form method="post">
                <p class="text-secondary"><strong>NOTE:</strong> You may accept the invitation to participate as juror in the contest.</p>
                <button type="submit" class="btn-success" asp-area="PBW" asp-action="AcceptContestInvitation" asp-controller="Users"
                        asp-route-ContestId="@Model.ContestId" asp-route-UserId="@inviteeLink.UserId">
                    Accept!
                </button>
            </form>
        }
    }
    else
    {
        <p>Hi participant! The contest will start soon! Please upload your photo in Phase I</p>
    }
}

@section Scripts {
    <script src="~/js/Timers.js"></script>
}
