﻿@model ContestPhaseFinishedViewModel


@await Html.PartialAsync("GeneralPhaseDetailsPartial", model: Model) 

@if (this.User.IsInRole("Participant") && !Model.IsUserJuror)
{
    <h2>My assessment</h2>
    @await Html.PartialAsync("_AssessmentCardPartial", model: Model.CurrentUserPhotoAssessment);

    <hr>
}

<h1>Winners assessments</h1>
<h3>1st place</h3>
<div class="container">
    <div class="row">
        @foreach (var photo in Model.FirstPlaceWinnersAssessments)
        {
            @await Html.PartialAsync("_AssessmentCardPartial", model: photo)
        }
    </div>
</div>
<h3>2nd place</h3>
<div class="container">
    <div class="row">
        @foreach (var photo in Model.SecondPlaceWinnersAssessments)
        {
            @await Html.PartialAsync("_AssessmentCardPartial", model: photo)
        }
    </div>
</div>
<h3>3rd place</h3>
<div class="container">
    <div class="row">
        @foreach (var photo in Model.ThirdPlaceWinnersAssessments)
        {
            @await Html.PartialAsync("_AssessmentCardPartial", model: photo)
        }
    </div>
</div>

<hr>

<h2>Other photo asssessments</h2>
<div class="container">
    <div class="row">
        @foreach (var photo in Model.LoosersPhotoAssessments)
        {
            @await Html.PartialAsync("_AssessmentCardPartial", model: photo)
        }
    </div>
</div>