﻿@model IndexViewModel

<h4>TOP WINNERS</h4>
<div class="container">
    <div class="row">
        @foreach (var photo in Model.LatestWinningPhotos)
        {
            @await Html.PartialAsync("_PhotoCardPartial", model: photo);
        }
    </div>
</div>

<h4>Join our open contests! Win ranking points with your imagination!</h4>
<div class="container">
    <div class="row">
        @foreach (var contest in Model.OpenPhaseOneContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contest)
        }
    </div>
</div>
